@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
div{
    display: block;
}
.app-brand-text{
    color: black;
}
.card{
    background-color: white;
}
body{
    background-color:#D9E1E3 ;
    font-style: inherit;
}
.btn-primary{
    color: white;
    background-color: #004F64;
    box-shadow: #004F64;
}
.btn-primary:hover{
 color: white;
 background-color: #2DB5D7;
}
h4{
    font-size: 25px;
}
.btn.btn-outline-secondary{
    background-color:white;
    color:black;
}
.btn.btn-outline-secondary:hover{
    background-color: #2DB5D7;
    color:white;
}
